.newsletter__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 8rem;
}

.newsletter__biggerButton {
    width: 100%;
    height: 4rem;
    background-color: rgb(40, 40, 252);
    border: none;
}

.newsletter__biggerButton a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.newsletter__biggerButton a p {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
}


.newsletterForm {
    display: flex;
    width: 15rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.newsletterForm__input {
    display: block;
    font-size: 0.8em;
    padding: 10px;
    margin-bottom: 1.5rem;
    width: 100%;
}

.newsletterForm__buttonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.newsletterForm__submitButton {
    background-color: rgb(40, 40, 252);
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    border: none;
    padding: 15px;
    justify-self: center;
}

@media (orientation: landscape) and (min-height: 550px) {
    .newsletterForm {
        width: 50rem;
    }

    .newsletterForm__form {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .newsletterForm__buttonContainer {
        width: auto;
        height: auto;
    }

    .newsletterForm__submitButton {
        font-size: 0.8rem;
        padding: 10px 20px;
    }

    .newsletterForm__input {
        width: 35%;
        margin: 0;
    }

}